/* Start Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
:root {
  --main-color: #222c40;
  --alt-color: #546279;
  --title-color: #3d506f;
  --paragraph-color: #7f90a5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #54627940;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #222c4040;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: lato, Arial, Helvetica, sans-serif;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Mediume */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global */
/* Start Header */

.header {
  height: 60px;
}

/* End Header */
/* Start Intro */

.intro {
  height: 700px;
}
.intro .content {
  height: 355px;
}
.intro .content .btn {
  display: block;
  padding: 15px 40px;
  width: fit-content;
  cursor: pointer;
}
/* End Intro */
/* Start Servises */
.portfolio .section-paragraph::before,
.services .section-paragraph::before {
  background-color: var(--paragraph-color);
}
.portfolio .section-paragraph::after,
.services .section-paragraph::after {
  background-color: #fff;
  border-color: var(--paragraph-color);
  outline-color: #fff;
}
.idea p {
  max-width:800px;
  font-size: 24px;
}
/* End Servises */
/* Start Portfolio */



/* End Portfolio */
