/* Start Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
:root {
  --main-color: #222c40;
  --alt-color: #546279;
  --alt-trans-c: #54627920;
  --alt1-color: #161f32;
  --alt2-color: #00c7fc;
  --title-color: #3d506f;
  --paragraph-color: #7f90a5;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #546279a3;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #222c40a3;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: lato, Arial, Helvetica, sans-serif;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Mediume */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  .btn-shape {
    width: 100%;
  }
}

/* End Global */
/* Start Header */

.header {
  height: 60px;
}

/* End Header */
/* Start Intro */

.intro {
  min-height: 700px;
}
@media (max-width: 767px) {
  .intro {
    min-height: 500px;
  }
}
.intro .content {
  min-height: 355px;
}
.intro .content .btn {
  display: block;
  padding: 15px 40px;
  width: fit-content;
  cursor: pointer;
}
/* End Intro */
/* Start Servises */
.blog .section-paragraph::before,
.portfolio .section-paragraph::before,
.services .section-paragraph::before {
  background-color: var(--paragraph-color);
}
.blog .section-paragraph::after,
.portfolio .section-paragraph::after,
.services .section-paragraph::after {
  background-color: #fff;
  border-color: var(--paragraph-color);
  outline-color: #fff;
}
.idea p {
  max-width: 800px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .idea p {
    font-size: 20px;
  }
}
/* End Servises */
/* Start Portfolio */

.buttuns > span {
  transition: 0.3s;
  cursor: pointer;
}
.buttuns > span:hover {
  background-color: #00c7fc;
}
@media (min-width: 768px) {
  .portfolio .images {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
.portfolio .images .image {
  min-width: 270px;
  min-height: 200px;
}
@media (min-width: 768px) {
  .portfolio .images .image {
    min-width: 270px;
  }
}
.portfolio .image-info {
  
}
@media (min-width: 768px) {
  .portfolio .image-info .content {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: center;
  }
}
.portfolio .image-info .content .image {
  min-height: 420px;
}
.portfolio .image-info .content .text p {
  font-weight: lighter;
}

/* End Portfolio */
/* Start About */
@media (min-width: 768px) {
  .about .content {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
.about .content .user {
  width: 220px;
  height: 220px;
  border: 3px solid #fff;
}
.about .skills p {
  max-width: 700px;
}

@media (min-width: 768px) {
  .about .skills .company-and-skills {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
@media (min-width: 768px) {
  .about .social-info .content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.about .social-info .content .item {
  max-width: 200px;
  margin: 20px auto;
}
/* End About */
